.item {
  width: 300px;
  height: auto;
  margin: 3px;
  padding: 3px;
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
}

.paragraf {
  padding-bottom: 0px;
  margin: 2px;
}
