.item {
  width: 300px;
  padding: 2px;
  margin: 2px;
  height: auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  color: rgb(14, 15, 15);
  border: 1px solid black;
  border-color: black;
  border-radius: 10px;
}

.itemText {
  padding: 2px;
  margin: 2px;
  height: auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
}

.text {
  padding: 2px;
  margin: 2px;
  color: black;
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
}

.btn {
  padding: 3px;
  margin: 2px;
  margin-right: 4px;
  margin-left: 30px;
  height: auto;
  width: 90px;
  text-align: center;
  align-items: center;
  color: rgb(14, 15, 15);
  border: 1px solid black;
  border-color: black;
  border-radius: 5px;
}
.btnDell {
  padding: 3px;
  margin: 2px;
  margin-right: 4px;
  margin-left: 30px;
  height: auto;
  width: 90px;
  text-align: center;
  align-items: center;
  color: rgb(14, 15, 15);
  border: 1px solid black;
  border-color: black;
  border-radius: 5px;
  background-color: crimson;
}
.itemBlock {
  padding: 1px;
  margin: 1px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: end;
  justify-content: center;
}
.iconReact {
  margin-right: 20px;
  height: auto;
  width: 30px;
  text-align: center;
  align-items: center;
}
.btnBlock {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}
