.blokLink {
  margin: 5px;
  padding: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.logo {
  font-weight: 700;
  margin: 0;
}

.link {
  margin: 3px;
  padding: 8px;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  background-color: rgb(11, 68, 199);
}

.active {
  color: white;
  background-color: rgb(30, 255, 0);
}
