@media (min-width: 339px) {
  .cartForm {
    padding: 2px;
    margin: 2px;
    color: black;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.4;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .item {
    width: 330px;
    height: auto;
    margin: 5px;
    margin-bottom: 10px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    list-style: none;
    border: 1px solid rgb(104, 102, 102);
    border-radius: 8px;
    color: rgb(14, 15, 15);
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
  }

  .items {
    width: 300px;
    margin: 1px;
    margin-bottom: 5px;
    padding: 1px;
    padding-top: 2px;
    padding-bottom: 5px;
  }

  .label {
    margin-bottom: 8px;
    padding: 2px;
  }

  .btn {
    margin: 2px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    height: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .cancelledButton {
    width: 100px;
    height: 40px;
    margin: 1px;
    padding: 1px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border: 4px solid rgb(104, 102, 102);
    border-radius: 5px;
    color: rgb(14, 15, 15);
  }

  .messag {
    margin: 5px;
    margin-bottom: 8px;
    padding: 8px;
  }

  .inp {
    width: 100%;
    height: 30px;
    margin-bottom: 4px;
    padding: 1px;
  }
}
/* 💻 планшети горизонтально / маленькі ноутбуки */
@media (min-width: 768px) {
  .cartForm {
    padding: 2px;
    margin: 2px;
    color: black;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.5;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .item {
    width: 330px;
    height: auto;
    margin: 5px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;
    border: 1px solid rgb(104, 102, 102);
    border-radius: 8px;
    color: rgb(14, 15, 15);
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
  }

  .items {
    width: 300px;
    margin: 3px;
    margin-bottom: 10px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .label {
    margin-bottom: 16px;
    padding: 10px;
  }

  .btn {
    margin: 5px;
    height: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .cancelledButton {
    width: 100px;
    height: 50px;
    margin: 2px;
    padding: 2px;
    border: 1px solid rgb(104, 102, 102);
    border-radius: 5px;
    color: rgb(14, 15, 15);
  }

  .messag {
    margin: 5px;
    margin-bottom: 16px;
    padding: 10px;
  }

  .inp {
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 2px;
  }
}
