.container {
  width: 100%;
  max-width: 340px;
  flex: 1; /* 🔹 розтягується */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
  overflow-y: auto; /* 🔹 скрол на мобілках */
}

.list {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  list-style-type: none;
}

.item {
  width: 100%;
  max-width: 330px;
  list-style: none;
  margin: 5px;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
  }
  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .item {
    width: calc((100% - 8px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin-top: -20px;
    max-width: 1200px;
  }
  .item {
    /* margin-top: 10px; */
    width: calc((100% - 10px) / 3);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  .list {
    gap: 10px;
  }
  .item {
    width: calc((100% - 10px) / 4);
  }
}
@media screen and (min-width: 1700px) {
  .container {
    max-width: 1700px;
  }
  .list {
    gap: 10px;
  }
  .item {
    width: calc((100% - 10px) / 5);
  }
}

ul,
ol {
  list-style-type: none; /* вимикає маркери і цифри */
  padding-left: 0; /* прибирає відступ зліва */
  margin: 0; /* додатково можна прибрати зовнішній відступ */
}
