/* UserMenu */
.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 1px;
  padding: 1px;
}

.username {
  font-weight: 700;
}

.button {
  margin: 10px;
  color: black;
  background-color: #ffffff;
}
