/* UserMenu */
.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 1px;
  padding: 1px;
}

.username {
  font-weight: 700;
}

.button {
  margin: 8px;
  color: black;
  background-color: hsl(299, 89%, 50%);
}
.button:focus {
  padding: 8px;
  border-radius: 8px;
  text-decoration: none;
  color: #6609c9;
  font-weight: 500;
}
.button:hover {
  padding: 8px;
  border-radius: 8px;
  text-decoration: none;
  color: hsl(269, 93%, 18%);
  font-weight: 500;
}
